{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Les départements</h1>

    {# AFFICHAGE DU FORMULAIRE DE RECHERCHE #}
    {{ form(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DeptName</th>
                <th>Description</th>
                <th>RoiUrl</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in pagination %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.deptName }}</td>
                <td>{{ department.description }}</td>
                <td>{{ department.roiUrl }}</td>
                <td>{{ department.address }}</td>
                <td>
                    <a href="{{ path('app_department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}">edit</a>
                    
                    {# NOMMER UN MANAGER/ STATISTIQUES ET INFOS DU DÉPARTEMENT #}
                    <a href="{{ path('name_manager', {'id': department.id}) }}"><span style="color:green">NOMMER UN MANAGER</a></span>
                    <a href="{{ path('app_department_stat_infos', {'id': department.id}) }}"><span style="color:orange">STAT & INFOS</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_department_new') }}">Create new</a>

    {# PAGINATION DES DÉPARTEMENTS #}
    <div  class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
