{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    {# AFFICHAGE DU MANAGER #}
    <h2>Manager :</h2>
        {% for manager in managers %}
            <b style="color:red">{{ manager }}</b>
        {% else %}
            <span style="color:red">Aucun manager</span>
        {% endfor %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>DeptName</th>
                <td>{{ department.deptName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ department.description }}</td>
            </tr>
            <tr>
                <th>RoiUrl</th>
                <td>{{ department.roiUrl }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ department.address }}</td>
            </tr>

            {# HISTORIQUE DES EMPLOYÉS #}
            <tr>
                <th style="color:orange">Historique des EMPLOYÉS</th>
                <td>
                    {% for employee in department.employees %}
                        <div>{{ employee }}</div>
                    {% else %}
                        <td>Aucun(e) employé(e) trouvé(e) dans ce département.</td>
                    {% endfor %}
                </td>
            </tr>

            {# AFFICHAGE DES EMPLOYÉS ACTUELS DU DÉPARTEMENT #}
            <tr>
                <th style="color:green">EMPLOYÉS Actuels</th>
                <td>
                    {% if department.actualEmployees is iterable %}
                        {% for employee in department.actualEmployees %}
                            <div>{{ employee }}</div>
                        {% else %}
                            <td>Aucun employé actuel trouvé dans ce département.</td>
                        {% endfor %}
                    {% else %}
                        <td>Aucun employé actuel trouvé dans ce département.</td>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_department_index') }}">Retour / </a>

    <a href="{{ path('app_department_edit', {'id': department.id}) }}">Modifier</a>

    {{ include('department/_delete_form.html.twig') }}

    {# NOTIFICATION SUCCESS #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <span style="background-color:pink">{{ message }}</span>
        </div>
    {% endfor %}
{% endblock %}
