{% extends 'base.html.twig' %}

{% block title %}Mes documents{% endblock %}

{% block body %}
    <h1>Documents de {{ employee }}</h1>
    
    {# LIEN DES DOCUMENTS À TÉLÉCHARGER #}
    <ul>
        <li><a href="{{ path('employee_download_document', {'id': employee.id, 'document': 'contract'}) }}">Contrat</a></li>
        <li><a href="{{ path('employee_download_document', {'id': employee.id, 'document': 'diploma'}) }}">Diplôme</a></li>
    </ul>

    {# ON VÉRIFIE SI LA VARIABLE "message" EST DÉFINIE #}
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}

    <a href="{{ path('app_employee_profile', {'id': employee.id}) }}">RETOUR</a>
{% endblock %}
