{% extends 'base.html.twig' %}

{% block title %}Liste des Employés{% endblock %}

{% block body %}
    <h1>Liste des Employés</h1>

    {# Affichez le formulaire de recherche #}
    {{ form(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BirthDate</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Photo</th>
                <th>Email</th>
                <th>HireDate</th>
                <th>IsVerified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in pagination %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.birthDate ? employee.birthDate|date('d/m/Y') : '' }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.gender.value }}</td>
                    <td>{{ employee.photo }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.hireDate ? employee.hireDate|date('d/m/Y') : '' }}</td>
                    <td>{{ employee.isVerified ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_employee_profile', {'id': employee.id}) }}">Mon_profile</a>
                        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_new') }}">Créer un nouvel employé</a>

    {# PAGINATION DES EMPLOYÉS #}
    <div  class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
