{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mes données personnelles</h1>

    {# Y'A QUE L'UTILISATEUR CONNECTÉ QUI VERRA CE LIEN #}
    {% if app.user %}
        <a href="{{ path('app_mission_mes_missions_show', {'id': employee.id}) }}"><b>Mes missions</b></a>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender.value }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>HireDate</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ employee.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th style="color:purple">Mes documents</th>
                <td><a href="{{ path('employee_documents', {'id': employee.id}) }}">VOIR</a></td>
            </tr>

            {# LES DEMANDES D'UN EMPLOYÉS #}
            <tr>
                <th style="color:orange">DEMANDES</th>
                <td>
                    {% for demand in employee.demands %}
                        <div>{{ demand.type }} => {{ demand.status == null ? "En attente" : (demand.status == 1 ? "Accepté" : "Refusé") }}</div>
                    {% endfor %}
                </td>
            </tr>

            {# LES SALAIRES D'UN EMPLOYÉS #}
            <tr>
                <th style="color:blue">SALAIRES</th>
                {% for salary in employee.salaries %}
                    <td>
                        <div>{{ salary.salary }}</div>
                    </td>
                {% endfor %}
            </tr>

            {# HISTORIQUE DES DÉPARTEMENTS D'UN EMPLOYÉS #}
            <tr>
                <th style="color:green">Historique des DÉPARTEMENTS</th>
                <td>
                    {% for department in employee.department %}
                        <div>{{ department }}</div>
                    {% else %}
                        <div>Aucun département trouvé.</div>
                    {% endfor %}
                </td>
            </tr>

            {# FILTRE DANS LE REPOSITORY DU DÉPARTEMENT #}
            <tr>
                <th style="color:red">DÉPARTEMENT Actuel</th>
                <td>
                    <div>{{ employee.actualDepartment }}</div>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">Retour / t</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">Modifier</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
