{% extends 'base.html.twig' %}

{% block title %}Title{% endblock %}

{% block body %}
    <h1>Title</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ title.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ title.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ title.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_title_index') }}">Retour / </a>

    <a href="{{ path('app_title_edit', {'id': title.id}) }}">Modifier</a>

    {{ include('title/_delete_form.html.twig') }}

    <h3>{{ title }}</h3>
    {% for title_employee in title.employees %}
        <div>{{ title_employee }}</div>
    {% else %}
        <p>Aucun "{{ title }}" trouvé.</p>
    {% endfor %}
{% endblock %}
